body{
    background-color: rgb(185, 182, 182);
    text-align: left;
}


ul.lis1, ul.lis2, ul.lis3 {
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    margin: auto;
}
li.lis1 {
    font-size: 17px;
    background-color: rgb(55, 117, 55);
    color: rgb(57, 24, 80);
    float: left;
    text-align: center;
    width: 10em;
    padding: 10px;
    border: rgb(59, 18, 59) 5px dashed;
    margin-right: 1em;
    font-weight: bold
    
}

li.lis3 {
    box-shadow: 2px 2px 0 black;
    border-color: rgb(0, 0, 0) white white black;
    background-color: lightgray;
    color: black;
  }

ul.lis2 {
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    border: black 1px solid;
    padding: 10px;
    padding-right: 0%;
    width: 205px;
    margin-left: 3px;
   
}
li.lis2 {
    background-color: white;
    color: black;
    text-align: center;
    width: 10em;
    padding: 10px;
    border: black 1px solid;
    font-size: 17px;
    margin-bottom: 1em;
}


ul.lis4 {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    margin: auto;
}

li.lis4a {
    font-weight: bold;
    background-color:rgb(42, 42, 194);
    color: white;
    text-align: center;
    width: 10em;
    padding: 8px;
    font-size: 17px;
    margin-bottom: 1em;
    float: right;
    margin-right: 1em;
    
}
li.lis4, li.lis3 {
    background-color:white;
    color: rgb(50, 50, 201);
    font-weight: bold;
    text-align: center;
    width: 10em;
    padding: 8px;
    font-size: 17px;
    margin-bottom: 1em;
    float: right;
    margin-right: 1em;
    font-weight: bold;
}

ul.lis5 {

}
i.icon-inicio, i.icon-anadir, i.icon-listar, i.icon-borrar, i.icon-buscar, i.icon-modificar, i.icon-salir {
    float: right;
}


ul.lista5 li {
    float:left;
    margin-right: 2em
    list-style: none;
  
}


  @font-face {
    font-family: "MiMenu";
    src: url("fuentes/menu.woff")
}

[class^="icon-"], [class*="icon-"] {
    margin-right: 3px;
    font-family: "Mimenu";
    font-style: normal;
  }
  
  .icon-inicio::before {
    content: "\e900";
  }
  .icon-anadir::before {
    content: "\ea0a";
  }
  .icon-listar::before {
    content: "\e922";
  }
  .icon-borrar::before {
    content: "\ea0b";
  }
  .icon-buscar::before {
    content: "\e986";
  }
  .icon-modificar::before {
    content: "\e905";
  }
  .icon-salir::before {
    content: "\e9b6";
  }
  

ul.lista5 li {
    float:left;
    margin-right: 2em;
    list-style: none;
  
}



ul.lista6 {
    text-align: center;
    list-style: none;
  }
  
  ul.lista6 li {
    display: inline;
    border: black 0.1em solid;
    border-radius: 0.3em;
    margin-right: 1em;
    padding: 0.5em 0.5em 0.0em;
    background-color: white;
    font-size: 200%;
    line-height: 250%;
    float: left;
  }
  
  ul.lista6 i {
    margin: 0;
  }
  
